@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-center">
    <h1 class="display-4">Bem Vindo ao ManagerMoney</h1>
    <p>Controle seus ganhos com muito mais precisão.</p>
</div>
<main class="main-order">
    <div class="conteiner-buttons">
        <section class="conteiner-btn-order">
                <button class="btn-order"><em>Cadastre seu perfil</em></button>
                <button class="btn-order"><em>Veículos</em></button>
                <button class="btn-order"><em>Lançe suas transações</em></button>
        </section>
    </div>

</main>
<div class="card-order">
    <h2 class="div-info-order">Depoimentos</h2>
        <h3>
            <link href="#" rel="stylesheet" />Aplicativo moderno, fácil de usar e que atende perfeitamento as nossas demandas. Super indico para os meus amigos e para os meus parentes.
            Plataforma fácil de manusear e super intuitiva. Já utilizei outros aplicativos, mas nunca vi algo tão bom quanto o Manager Money. Vale a pena demais!
        </h3>
        <h3>
            <link href="#" rel="stylesheet" />Muito fácil de usar. Basta se cadastrar na plataforma e já posso cadastrar todas as informações necessárias para o meu dia a dia.
            Lanço todas as minhas despesas e ganhos num só lugar. Agora consigo fazer um controle muito mais detalhado da minhas corridas nos aplicativos.
            Ficou muito mais fácil saber todos os detalhes da minha profissão.
        </h3>
</div>
    <footer>
        <div class="text-center p-3" id="footer">
            Copyright <a class="text-light" href="/index.html">ManegerMoney</a> © 2023 Todos os direitos reservados. Termos e condições.
        </div>
    </footer>
</body>
