@{
    ViewData["Title"] = "Home Page";
}
<style>
    .header {
        color: #C0C0C8;
        position: relative;
        background-color: #161629;
        display: flex;
        height: 10vh;
    },
    .img {
        height: 20vh;
        display: flex;
        width: 20vw;
        position: relative;
    }
</style>
<div>
    <img class="img" src="~/Imagem do WhatsApp de 2024-04-28 à(s) 12.47.33_15ed54a0.jpg" alt="LogoMarca" />
</div>
<body>
    <header class="header"> </header>
<div class="text-center">
    <h1 class="display-4">Controle seus gastos com muito mais precisão</h1>
    <h2>Depoimentos</h2>
        <p>
            Aplicativo moderno, fácil de usar e que atende perfeitamento as nossas demandas. Super indico para os meus amigos e para os meus parentes.
            Plataforma fácil de manusear e super intuitiva. Já utilizei outros aplicativos, mas nunca vi algo tão bom quanto o Manager Money. Vale a pena demais!
        </p>
        <p>
            Muito fácil de usar. Basta se cadastrar na plataforma e já posso cadastrar todas as informações necessárias para o meu dia a dia.
            Lanço todas as minhas despesas e ganhos num só lugar. Agora consigo fazer um controle muito mais detalhado da minhas corridas nos aplicativos.
            Ficou muito mais fácil saber todos os detalhes da minha profissão.
        </p>
</div>
    <footer>
        <div class="text-center p-3" id="footer">
            Copyright <a class="text-light" href="/index.html">ManagerMoney</a> © 2024 Todos os direitos reservados.
    </footer>
</body>
