@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-center">
    <h1 class="display-4">Bem Vindo ao ManagerMoney</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    <footer>
    <div class="text-center p-3" id="footer">
        Copyright <a class="text-light" href="/index.html">ManegerMoney</a> © 2024 Todos os direitos reservados.
    </div>
    </footer>
</body>
