@model ManagerMoney.Models.Cadastroveiculo

@{
    ViewData["Title"] = "Create";
}

<style>
    .formatacao {
        color: #C0C0C8;
        position: relative;
        background-color: #161629;
        display: flex;
        height: 10vh;
    }

    .table {
        color: #C0C0C8;
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 15pt;
        background-color: #1FBAD6;
        height: 50vh;
    }

    .table-line {
        width: 100%;
        height: 50px;
    }

    .container-img {
        background-color: #292929;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .img {
        height: 20vh;
        width: 20%;
    }
</style>

<body class="formatacao">
    <div class="container-img">
        <img class="img" src="~/Imagem do WhatsApp de 2024-04-28 à(s) 12.47.33_15ed54a0.jpg" alt="LogoMarca" />
    </div>
<h1 class="formatacao">Cadastrar Veículo</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoModelo" class="control-label"></label>
                <input asp-for="AnoModelo" class="form-control" />
                <span asp-validation-for="AnoModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-warning">Voltar</a> |
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>